# Default ignored files
/shelf/
/workspace.xml

# Python virtual environment
venv/

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# user secrets
/src/config/user_key_secret.json
/src/config/testnet_future.json


