<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        a {
            text-decoration: none;
            color: blue;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
<h1>Welcome to the Home Page</h1>

<!-- Navigation Links -->
<nav>
    <p>
        <a href="{{ url_for('main.home') }}">Home</a> |
        <a href="{{ url_for('main.get_order_history') }}">Order History</a> |

        <a href="{{ url_for('main.config_grid') }}">Configure Grid</a>
    </p>
</nav>
</body>

<body>

<!-- Link to the set_config page to configure the grid strategy -->
<p>Ready to set your grid strategy?</p>
<a href="{{ url_for('main.config_grid') }}">Configure Grid Strategy</a>


<!-- Link to the /order_history page to view Order History -->
<p>Click the link below to view URL usage:</p>
<a href="{{ url_for('main.list_routes') }}">Routes List</a>
</body>
</html>
