<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        a {
            text-decoration: none;
            color: blue;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
<h1>Welcome to the Home Page</h1>

<!-- Navigation Links -->
<nav>
    <p>
        <a href="{{ url_for('main.home') }}">Home</a> |
        <a href="{{ url_for('config.config_credentials') }}">Authentication</a> |
        <a href="{{ url_for('config.config_grid_parameters') }}">Configure Grid</a> |
        <a href="{{ url_for('main.list_routes') }}">Routes List</a>

    </p>
</nav>
</body>

<body>
<p>Click the link below to view Order History:</p>
<a href="{{ url_for('main.get_order_history') }}">Order History</a>

<p>Click the link below to view Matched Profits:</p>
<a href="{{ url_for('main.get_matched_profit') }}">View Matched Profit or Loss</a>

<p>Click to see Realized Profit_Loss:</p>
<a href="{{ url_for('main.get_realized_profit_loss') }}">Realized Profit</a> |


</body>

</html>
